/* title variables */
/*Labels and text variable */
/* Common Selectors */
body {
  font-family: 'Muli', sans-serif;
}
header {
  text-align: center;
  letter-spacing: 0.1em;
}
/*Containers styles*/
.leftUp,
.rightUp,
.rightDown {
  border: 0.2em solid;
  text-align: center;
  padding: 0;
  margin-top: 2em;
}
.leftUp {
  height: 35em;
}
.rightUp,
.rightDown {
  height: 16em;
}
.leftUp h3,
.rightUp h3,
.rightDown h3 {
  border-bottom: 0.2em solid;
  padding: 0.7em;
  margin: 0;
  margin-bottom: 1.5em;
}
/*LeftUp container Styles*/
.inputBox {
  letter-spacing: 0.1em;
}
label {
  width: 40%;
  text-align: right;
  font-size: 1.2em;
}
input {
  border: 0.2em solid;
  outline: none;
}
#submit,
button {
  margin: 2em;
  background: none;
  border: 0.2em solid;
  padding: 0.5em;
  width: 7em;
  outline: none;
}
/* RightUp container Styles */
span {
  margin-left: 2em;
}
hr {
  border: 0.1em solid;
  width: 60%;
  margin: 0 auto;
}
/* Reset button */
#reset {
  float: right;
}
/* Angular Validation styles */
#error {
  color: #fa2a4d;
  text-decoration: underline;
  font-size: 1.5em;
}
.ng-valid.ng-dirty {
  background-color: #c7dfc7;
}
.ng-invalid.ng-dirty {
  background-color: #e5e0b0;
}
@media (max-width: 700px) {
  label {
    font-size: 0.9em;
  }
  .leftUp {
    height: 27em;
  }
  #reset {
    width: 40%;
  }
  #viewOptions {
    font-size: 1.2em !important;
  }
}
/*View Buttons styles */
#viewOptions {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}
#viewOptions a {
  padding: 1em 1em;
  color: black;
  transition: color 0.5s ease-out;
  text-decoration: none;
}
#viewOptions a:hover {
  color: #009688;
}
/* home style */
#instructions {
  padding: 5%;
}
#instructions h3 {
  padding-bottom: 2%;
}
