<section id="instructions" class="text-justify">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<h3>Welcome to WaitStaff Calculator</h3>
				<p>
					Hi! Welcome to <strong>WaitStaff Calculator!</strong>
					<br>
					This app, is created to help you serve your customers in a faster and more dynamic way, as never seen before!
					<br>
					To start, enter the details of each Customer's Meal in the <a href="#">New Meal Section</a>. Enter the base meal price in USD, the Tax Rate of your location (eg. 8) and finally the Tip Percentage (eg. 10).
					<br>
					Just that easy! In seconds you can come back to your customers with their final Charges, leaving the thedious maths to us, while you focus on Making Money!!
					<br>
					The Best part, is that by the end of the day, you can simply go back to your app, and click on the <a href="#">My Earnings</a> section where you will find How Much <strong>Money You Made Today!</strong>, how many meals you served, and your average tip per meal!
					<br>
					Enjoy!
				</p>
			</div>
		</div>
	</div>
	
</section>